@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}
.container {
  max-width: 1240px;
  padding: 20px;
  margin: 0 auto;
}
h1 {
  color: rgb(97, 97, 233);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
p {
  font-size: 14px;
  font-weight: 500;
  color: #111;
  margin-bottom: 20px;
}
button {
  padding: 10px;
  font-size: 14px;
  color: #111;
  background: #c6c6ed;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  transition: 0.3s all ease;
  cursor: pointer;
  min-width: 80px;
  text-transform: capitalize;
}
button:hover {
  background: #d2d2f2;
  color: rgba(17, 17, 17, 0.6);
}
.box-modal {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1050;
  min-width: 500px;
  max-width: 600px;
  background: #fff;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transform: translate(-50%, -100%);
}
.modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #dadada;
  position: relative;
}
.modal-title {
  font-size: 16px;
  font-weight: 600;
}
.modal-body {
  padding: 15px 20px;
  max-height: 300px;
  overflow: auto;
}
.modal-footer {
  padding: 15px 20px;
  border-top: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.modal-footer button {
  padding: 6px 10px;
}
.close-icon {
  padding: 4px 8px;
  min-width: auto;
  background: transparent;
  color: #111;
  border: none;
  position: absolute;
  font-size: 18px;
  top: 5px;
  right: 5px;
}
.close-icon:hover {
  background: transparent;
  opacity: 0.6;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.fade.show {
  opacity: 1;
}
.show .box-modal {
  top: 100px;
  -webkit-transform: translate(0, 0);
  transform: translate(-50%, 0);
}

.modal-open {
  overflow: hidden;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  display: none;
  transition: 0.3s ease-in-out all;
}
.modal-backdrop.show {
  opacity: 0.5;
  display: block;
}
